:root{
    --laranja: #F7630C;
    --lavanda: #8784C7;
    --lavandaclaro: #E7E6F4;
    --lavandaescuro: #373472;
    --vermelho: #E81224;
}

*{
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    color: var(--lavandaescuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

body{
    background-image: url('background.png');
    background-size: 4cm;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.instagram-page{
    width: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smartphone{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smartphone img{
    max-height: 75%;
    max-width: 75%;
}

.options{
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.95;
}

.boxes{
    background-color: var(--lavandaclaro);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--lavandaescuro);
    padding: 15px;
}

.instagram-logo{
    height: 50px;
}

.profile-picture{
    height: 100px;
    margin: 5px 0 5px 0;
    border-radius: 50%;
}

.continue{
    background-color: var(--lavanda);
    margin-bottom: 5px;
    border: 2px solid var(--lavandaescuro);
    padding: 5px 10px 5px 10px;
    color: var(--lavandaclaro);
}

.continue:hover{
    color: var(--lavandaescuro);
}

.link-orange{
    color: var(--laranja);
}

.link-orange:hover{
    color: var(--vermelho);
}

.app{
    background-color: var(--lavanda);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--lavandaescuro);
    padding: 15px;
    color: var(--lavandaclaro);
    font-weight: bold;
}

.app p{
    margin-top: 10px;
}

.app a{
    margin: 10px
}

.app i:hover{
    color: var(--lavandaclaro);
}